@solit:registry=https://artifactory.emias.mos.ru/artifactory/api/npm/libs-npm-local/
//artifactory.emias.mos.ru/artifactory/api/npm/libs-npm-local/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJaNmFnc3IzSmtfZFBPZVljTlE4ZkNrOFplN1pZdUVIV0ZtRUhoYlMxa3B3In0.eyJzdWIiOiJqZnJ0QDAxYnhjaGV6dnNjdnk1MWI2eG1xajYwazUyXC91c2Vyc1wva3V6bmV0c292diIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6KiBhcGk6KiIsImF1ZCI6ImpmcnRAMDFieGNoZXp2c2N2eTUxYjZ4bXFqNjBrNTIiLCJpc3MiOiJqZnJ0QDAxYnhjaGV6dnNjdnk1MWI2eG1xajYwazUyIiwiaWF0IjoxNjI0MjU3MTkxLCJqdGkiOiI5N2JjZWViOS1lY2M3LTRjMjgtYmExMy03ZWYwZTU2YTc4NzQifQ.dmMb32goLo4FdpA7lQeGrku4dSqQ3ZiR4Hda_k8NBpIqGZ6MYMGHWNrrtOr2-eCiZ2iIzDr0XXUoyd1Iw_FbpiGKuiJ3H00CIiaEP4ousbLFHwQlXwitZxeCAdBqFo1swedVv0sOIH4RHiR3d5JGQdaxiZFSmxaA7SwxRCz7bOcZQCdY7usuPL1fFH6OjLK_-57ksUCBB2HBtI07c6wq_34KfDSjv8MjwJyN6QRrUQcbtpadOxxn8YB4HMGDQBzTfS0ADUVuHr0H93l6wrLr-If4kyZTGJBOsMi6vZfX6T3kGroGg3PK-2-Uto4ZjWsrmL8EpHLRUPYHnqkFe_CJiA