<form [formGroup]="userForm">
    <p>
        <label for="email">email</label>
        <input id="email" formControlName="{{UserKeys.email}}" type="email">
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" formControlName="{{UserKeys.password}}" type="password">
    </p>
    <p formGroupName="{{UserKeys.address}}">
        <label for="city">City</label>
        <input id="city" formControlName="{{UserKeys.addressCity}}" type="text">
    </p>
    <p formGroupName="{{UserKeys.address}}">
        <label for="house_number">House Number</label>
        <input id="house_number" formControlName="{{UserKeys.addressHouseNumber}}" type="number">
    </p>
    <div>
        <h3>Posts</h3>
        <ul formArrayName="posts">
            <li *ngFor="let post of posts.controls; let i = index;">
                <p formGroupName="{{i}}">
                    <label for="{{i}}-post-title">Post Title</label>
                    <input id="{{i}}-post-title" type="text" formControlName="{{UserKeys.postTitle}}">
                </p>
                <p formGroupName="{{i}}">
                    <label for="{{i}}-post-text">Post Text</label>
                    <input id="{{i}}-post-text" type="text" formControlName="{{UserKeys.postText}}">
                </p>
            </li>
        </ul>
    </div>
</form>