<form [formGroup]="userForm">
  <p>
    <label for="email">email</label>
    <input id="email" [formControl]="getEmailFormControl()" type="email">
  </p>
  <p>
    <label for="password">Password</label>
    <input id="password" [formControl]="getPasswordFormControl()" type="password">
  </p>
  <p>
    <label for="city">City</label>
    <input id="city" [formControl]="getCityControl()" type="text">
  </p>
  <p>
    <label for="house_number">House Number</label>
    <input id="house_number" [formControl]="getHouseNumberControl()" type="number">
  </p>
  <div>
    <h3>Posts</h3>
    <ul>
      <li *ngFor="let post of getPostsControls().controls; let i = index;">
        <p>
          <label for="{{i}}-post-title">Post Title</label>
          <input id="{{i}}-post-title" type="text" [formControl]="getPostTitleControl(i)">
        </p>
        <p>
          <label for="{{i}}-post-text">Post Text</label>
          <input id="{{i}}-post-text" type="text" [formControl]="getPostTextControl(i)">
        </p>
      </li>
    </ul>
  </div>
</form>